table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  th,
  td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  .addProducInput{
    max-width: 264px;
    width: 100%;
  }

  button {
    margin-top: 0px;
  }

  .add-product-title{
    align-items: center;
    font-weight: bold;
  }

  .error-text{
    color: rgb(171, 66, 62);
    background-color: rgb(244, 222, 225);
  }

  .add-product-input-photo{
    width: 177px;
  }

  .adminProductImg{
    width: 50px;
    height: 59px;
  }

 