  .all-admin-page{
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  .input-addproduct-block{
   display: flex;
   flex-direction: column;
   padding: 24px;
   gap: 16px;
  }

  .title-add-product{
    font-size: 26px; 
    line-height: 40px; 
    font-weight: 700; 
    color: #D2D2D2FF; 
    font-family: Archivo;
  }

  .input-title{
    font-size: 17px; 
    line-height: 26px; 
    font-weight: 400; 
    color: #BABABAFF;
    font-family: Inter;
  }

  .base-addproduct-input{
    width: 100%;
    height: 44px;
    background-color: #323332FF;
    color: #94A3B8;
    font-size: 14px;
    border: none;
  }

  .description-addproduct-textarea{
    width: 100%;
    height: 104px;
    background-color: #323332FF;
    box-shadow: none;
    color: #94A3B8;
    font-size: 14px;
    border: none;
    max-width: 677px;
  }
 

  .custom-file-input {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    width: 140px;
  }
  
  .custom-file-input input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .file-input {
    display: inline-block;
    padding: 8px 16px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
.all-inputs{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.add-product-button{
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Inter; 
  width: 100%; 
  height: 44px; 
  padding: 0 20px; 
  font-size: 17px; 
  line-height: 26px; 
  font-weight: 400; 
  border-radius: 28px; 
  border: 1px solid #D2D2D2FF;
  cursor: pointer;
}

.admin-product-img{
  width: 100px; 
  height: 100px; 
  border-radius: 40px; 
  object-fit: cover;
}

.title-list{
    color: #D2D2D2FF; 
    font-family: Archivo; 
    font-size: 26px; 
    line-height: 40px; 
    font-weight: 700; 
    text-align: center;
}

.product-list-title{
    font-family: Inter; 
    font-size: 19px; 
    line-height: 30px; 
    font-weight: 400; 
    color: #D2D2D2FF; 
}

.product-list-description{
    font-family: Inter; 
    font-size: 17px; 
    line-height: 26px; 
    font-weight: 400; 
    color: #999999FF; 
    overflow-wrap: break-word;
   white-space: normal;
   max-width: 460px;
}

.product-list-price{
  font-family: Inter; 
    font-size: 17px; 
    line-height: 26px; 
    font-weight: 400; 
    color: rgb(216, 216, 216); 
}

.delete-button{
    width: 110px; 
    height: 50px;
    font-family: Inter; 
    font-size: 17px; 
    line-height: 26px; 
    font-weight: 400; 
    color: black; 
    background: #05EB33FF; 
    border-radius: 20px; 
    cursor: pointer;
}

.all-el{
  display: flex;
  justify-content: space-between;
  background-color: #444;
  align-items: center;
  border-radius: 10px;
}

.information-block{
  display: flex;
  gap: 10px;
}

.all-el-list{
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 710px;
  height: 100%;
}

.error-text{
  font-size: 14px;
  color: rgb(192, 5, 5);
}