.page-block-wrapper{
   display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1440px;
    width: 1440px;
    margin: 0 auto;
    padding: 14px 0px;
}

.full-width{
  width: 100vw;
}

@media (max-width:1440px) {
  .page-block-wrapper{
    max-width: 1100px;
    width: 1100px;
}
}

@media (max-width:1150px) {
  .page-block-wrapper{
    max-width: 800px;
    width: 800px;
}
}