.product-image{
  width: 246px;
  height: 246px;
  object-fit: cover;
  border-radius: 20px;
  cursor: pointer;
}

.slider-product{
  display: flex;
  gap: 50px;
}

.product-name,
.product-description{
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #fff;
}

.product-price{
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.product-slider-title{
  color: #fff;
  font-size: 30px;
  letter-spacing: 1.2px;
}

.slider-title,
.all-product-active{
  display: flex;
  justify-content: space-between;
}

.all-product-information{
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 200px;
}

.all-product-slider{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product-element{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.trolley-img{
  cursor: pointer;
}

.background-slide{
  position: absolute;
  background-color: #2d2d2d;
  /* height: 100%; */
  height: 650px;
  width: 100%;
  top: 75%;
  left: 0;
  z-index: -1;
  border-radius: 20px;
}

.popular-slider{
  position: relative;
}
