.product-image{
  width: 200px;
  height: 200px;
}

.slider-product{
  display: flex;
  gap: 50px;
}

.all-product-slider{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border: 1px solid #dee2e6;
  border-radius: 10px;
}

.product-description,
.product-name{
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #362526;
}

.product-price{
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #362526;
}

.slider-text-title{
font-weight: 700;
font-size: 24px;
line-height: 120%;
text-transform: capitalize;
color: #362526;
}

.flash-sale-offer{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.flash-sale-title{
font-weight: 500;
font-size: 24px;
line-height: 120%;
color: #fff;
}