.all-card{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title{
  color: #fff;
}

.all-card-content{
  display: flex;
  justify-content: space-between;
}

.card-button{
  width: 200px;
  height: 50px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 40px;
  font-size: 15px;
  color: #161616;
}

.card-button-content{
  display: flex;
  gap: 24px;
}