.all-card{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title{
  color: #fff;
}

.card-img{
  width: 350px;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
}

.card-element{
  display: flex;
  align-items: center;
  gap: 33px;
}

.card-title{
  color: #fff;
  font-size: 25px;
}

.card-description{
  font-size: 20px;
  color: #fff;
}

.card-price{
  background-color: #fff;
  border-radius: 20px;
  padding: 4px;
  text-align: center;
}

.card-text-block{
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 450px;
}


.quantity{
  color: #fff;
  font-size: 20px;
}

.delete-all-quantity{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}


.quantity-button{
  border: none;
  background: none;
  color: #fff;
  font-size: 60px;
  cursor: pointer;
}

.all-card-content{
  display: flex;
  justify-content: space-between;
}

.quantity-block{
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.top-content{
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #fff;
  padding-left: 10px;
}

.checkbox-text{
  color: #fff;
  font-size: 17px;
}

.checkbox-block{
  display: flex;
  gap: 10px;
}

.checkbox-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-button{
  width: 200px;
  height: 50px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 40px;
  font-size: 15px;
  color: #161616;
}

.card-button-content{
  display: flex;
  gap: 24px;
}

.back-to-home{
  text-decoration: none;
}

.back-to-home:visited{
  text-decoration: none;
  color: #161616;
}