
.all-footer-text{
  display: flex;
  gap: 100px;
}


.footer-text-block{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.all-home-footer{
  display: flex;
  gap: 380px;
}


.soc-title{
  font-weight: 700;
}

.footer-text{
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.footer-title{
  color: #fff;
  font-size: 32px;
  cursor: pointer;
}